a {
  display: inline;
  text-decoration: none;
  color: var(--clr-link);
  border-bottom: 1px solid var(--clr-link-underline)
}
.external {
  position: relative;
  margin-right: .5em;
}

.external:after {
  content: '↑';
  transform-origin: top left;
  transform: rotate(45deg) translate(30%, -50%);
  opacity: .3;
  /* transform: rotate(45deg); */

  position: absolute;
}